<h1>Edit Press Release</h1>

<%= form_with(model: [@publisher, @press_release], method: :patch, local: true, data: { turbo: false }) do |form| %>
  <% if @press_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press_release.errors.count, "error") %> prohibited this press release from being updated:</h2>
      <ul>
        <% @press_release.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :publish_date %>
    <%= form.datetime_select :publish_date %>
  </div>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.collection_select :organization_id, Organization.all, :id, :name, prompt: "Select an Organization" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Press Release" %>
  </div>
<% end %>

<%= link_to 'Back to Publisher', publishers_path %>
