<%# <h1>Publishers#index</h1>
<p>Find me in app/views/publishers/index.html.erb</p> %>
<h1><%= @publisher.name %></h1>
<p><%= @publisher.description %></p>
<p><%= @publisher.website_url %></p>
<%= link_to 'Edit', edit_publisher_path(@publisher) %>

<h2>Press Releases</h2>
<%= link_to 'New Press Release', new_publisher_press_release_path(@publisher) %>

<div id="press_releases">
  <%= turbo_frame_tag "press_releases" do %>
    <% @publisher.press_releases.each do |press_release| %>
      <%= render partial: "press_releases/press_release", locals: { press_release: press_release } %>
    <% end %>
  <% end %>
</div>

